.sub-menu .menu-four .our-product div span,
.footer .widget li a:hover,
.detail span,
.product-detail span,
.widget ul li a:hover,
.featured li div span,
.widget .tweets p strong,
.product-compare-list ul li:hover {
  color: @sh_color;
}
.button {
  background: #ffffff;
  color: @sh_color;
}
.slider .slider-btn .activeSlide,
.slider .slider-btn a:hover,
.billing-form .red-button,
.billing .title,
.billing .totle .red-button,
.payment form .red-button,
.cart-calculator .red-button {
  background: @sh_color;
}
.red-button,
#sidebar2 .widget .tagcloud a,
#check-accordion form input[type='submit'],
.detail .icon a:before,
.slider > a,
.social-strip ul li a:before,
.elastislide-wrapper nav span:hover,
.product figure .overlay:before,
.categories figure .cate-overlay:before {
  color: #ffffff;
  background-color: @sh_color;
}
#sidebar2 .widget .flcker a:hover {
  border-color: @sh_color;
}
.read {
  background: @sh_color;
}
.comments li figure a {
  border-color: 7px solid @sh_color;
}
.contact-form form input[type="submit"] {
  background: @sh_color;
  color: #FFF !important;
}
#product_tabs > ul > li:hover {
  background: @sh_color;
  border-color: @sh_color;
}
#product_tabs > ul > li:hover a,
#product_tabs > ul .ui-state-active a {
  box-shadow: inset 0px -2px 1px @sh_color;
  color: #ffffff;
}
#product_tabs > ul .ui-state-active {
  background: @sh_color;
  border-color: @sh_color;
}
#thumbs a:hover,
#thumbs a.selected {
  border-color: @sh_color;
}

::-moz-selection {
	background-color:@sh_color;
}
::selection {
	background-color:@sh_color;
}