@site-color: #2461a7;
@border-color: rgb(199, 219, 251);

.user-profile-links {
	ul, li {
		list-style-type: none;
		a {	
			color: @site-color;
		}
		.active a , .active a:hover{
			color: black;
		}
	}
}
.log_expander_icon {
	margin-right: 5px;
}
.logdisplay {
	margin-top: 10px;
	th {
		color: @site-color;
	}
}
.form_group {
	color: @site-color;
}