figure.categories-list {
	width: 100%;
	height: 200px;
	a {
		height: 100%;
		img {
			width: auto;
			height: 100%;
			display: block;
			margin: auto;
			position: relative;
			float: none;
		}
	}
}

@media (max-width: @screen-xs-max) { 
	figure.categories-list {
		height: 150px;
	}
}
@media (max-width: @screen-sm-max) { 
	.product-list .detail h4 {
		text-align: center;
	}
}


.category-box {
	float: left;
	padding: 0px 10px 20px 10px;
	.content{
		border: 1px solid @site-color;
	}
	img {	
		display: block;
		margin: auto;
	}

	span {
		font-size: 16px;
		height: 56px;
		text-align: center;
		display: block;
		padding: 10px;
		color: @site-color;
	}
}
@media (max-width: @screen-xs-max) { 
	.category-box {
		img {	
			width: 150px !important;
			height: 150px !important;
		}
		span {
			font-size: 13px;
		}
	}
}