@site-color: #2461a7;
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@import "shopping-cart-page.less";
@import "transaction-results.less";
@import "account-edit.less";
@import "login.less";
@import "product-detail.less";
@import "category-list.less";
@import "home-page.less";

p {
	font: 15px 'Open Sans' sans-serif;
}

.other-title-bar.title-bar {
	border: none;
	margin-left: 30px;
	position:absolute;
	background-image:none;
}

.slider .overlay p {
	font-size: 18px;
}

.heading h2 span {
	height: 48px;
}

.heading h2 {
	line-height: 27px;
}

.buttons .wish:before, .buttons .cart:before, .buttons a[title="Buy Now"]:before, .buttons .compare:before {
	background-color: @site-color;
}

.oldprice {
	text-decoration: line-through;
}

.shopping-cart-wrapper span.cart_message {
	position: fixed;
	right: 30px;
	z-index: 300;
	background-color: @site-color;
	padding: 15px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	position: fixed;
	-webkit-animation: initiate 350ms ease;
	-moz-animation: initiate 350ms ease;
	-o-animation: initiate 350ms ease;
	animation: initiate 350ms ease;
}

.blue:hover {
	background-color: @site-color + 30;
	color: white;
}

.wpsc_email_address_p {
	margin: 8px;
}

#billing-shipping {
	display: block;
	.wpsc_email_address {
		border: none;
	}
}

.fake-link {
	text-decoration: underline;
	color: @site-color;
	&:hover {
		color: @site-color + 30;
	}
}

footer {
	border-top: none;
}
.out_of_stock {
	color: red;
	font-weight: bold;
}

.search_list {
	article figure a img {
		width: 300px;
		height: 200px;
	}
}

.cart-calculator ul {
	padding: 10px 18px;
	border: #0B2B6A 1px solid;

	&.black {
		background-color: #0B2B6A;
	}
	li {
		font: 15px 'arial' sans-serif;
	}
}

.detail .icon a.one.tooltip {
	&:hover:before {
		background-position: 0px -212px;
	}
	&:before {
		background-position: 0px -169px;
	}
}

.article-content {
	img {
		width: 150px;
		margin-right: 10px;
	}
}

#agree {
	margin-bottom: 3px;
}