@boxColor: #0028A6;
.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px @boxColor;
	-webkit-box-shadow: 0 0 5px @boxColor;
	box-shadow: -1 0 6px @boxColor;
	border: 1px solid @boxColor;
}
.slider {
	margin: 0;
}
.bx-wrapper {
	margin: 0 15px 15px 15px;
	img {
		max-width: 100%;
		display: block;
		height: 135px;
		margin: auto;
	}
}
figure.featured {
	width: 100%;
	height: 150px;
	a {
		height: 100%;
		img {
			width: auto;
			height: 100%;
			display: block;
			margin: auto;
			position: relative;
			float: none;
		}
	}		
}

@media (max-width: @screen-xs-max) { 
	body {
		padding: 0;
	}
	.header-top form {
		display: block;
	}
	header {
		margin-bottom: 8px;
	}
	.title-bar {
		height: 48px;
		line-height: 23px;
		margin-bottom: 9px;
		h1 {
			padding: 0px 10px;
			line-height: 17px;
			font-size: 12px;
		}
	}
	.bar-wrap .container {
		padding: 0px;
		.row {
			margin-right: 0px;
		}
	}
}
@media (max-width: @screen-sm-max) { 	
	a.my.select.selectBox {
		margin-right: 5px;
	}
	header {
		padding: 0;
	}
	.selectBox-dropdown {
		margin-right: 7px !important;
	}
	.container > .row {
		margin: 0;
	}
}

body > .wrapper > div {
	float: none;
}

.shipping-wrap .button {
	display: none;
}
.footer-wrap {
	.textwidget {
		color: aliceblue;
	}
	.footer {
		padding: 15px 0px 0px 0px;
		.widget {
  			margin-bottom: 0;
  		}
  	}
}

.shipping-wrap {
  padding: 10px 0;
}

.shipping p {
	line-height: 40px;
}

.footer a {
	color: #BEBEBE;
}
.footer-wrap footer p {
	color: aliceblue;
}

.container {
	h1 {
		font-family: initial;
	}
	p {
		margin-bottom: 15px;
	}
	h2 {
		margin-bottom: 5px;
	}
}