@site-color: #2461a7;

#rememberme {
	margin: 0;
}
.registerArea {
	margin: 10px 0;
	a {
		color: #3B71B0;
		font-weight: bold;
	}
}

.loginform-container {
	.information {
		font-weight: bold;
	}
	form {
		margin-top: 10px;
		.btn {
			margin-top: 10px;
		}
	}
	label {
		font-size: 17px;
		color: @site-color;
		&.rememberme {
			font-size: 14px;
			color: black;
		}
	}
}