@site-color: #2461a7;

.sku {
	margin-bottom: 5px;
	font: 13px 'Arial' sans-serif;
	font-weight: bold;
	color: #737373;
	span {
		color: #6C2BBD;
	}
}
p.pricedisplay {
	font-weight: bold;
}
#carousel-wrapper .caroufredsel_wrapper {
	height: 313px !important;
}
#carousel span {
	width: 468px;
	height: 309px !important;
	border: 1px solid #DFDFDF;
}

#carousel > span img {
	width: auto;
	height: 100%;
	display: block;
	margin: auto;
	position: relative;
	float: none;
}

.box {
    position: relative;
    font-family: sans-serif;
    display: block;
    height: 7em;
    overflow: hidden;
	margin-bottom: 20px;
    .description-product {
	    overflow: hidden;
	    font-size: .95em;
	    line-height: 1;
	    text-align: justify;
	}
}
.detail {
	padding-bottom: 0;
}
.product-list .product {
	margin-bottom: 20px;
	padding-bottom: 20px;
}