@site-color: #2461a7;
@border-color: rgb(199, 219, 251);
@shopping-cart-ul-height: 56px;
@shopping-cart-li-padding: 10px;

.shopping-cart {
	margin-top: 10px;
	@radius: 13px;
	border-radius: @radius @radius 0 0;
	ul {
		width: 100%;
		height: @shopping-cart-ul-height;
		border-radius: @radius @radius 0 0;
		&.title {
			height: initial;
			li{
				color: @site-color;
				font-weight: bold;
				text-transform: capitalize;
			}
		}
		padding-left: 0px;
		li {
			height: 100%;
			padding: @shopping-cart-li-padding;
			line-height: @shopping-cart-ul-height - 2*@shopping-cart-li-padding;
			list-style-type: none;
			vertical-align: middle;
	    	img { 
				width: auto;
				height: 100%;
			}
			&:last-child {
				border: none;
			}
			&.item-name {
				line-height: normal;
				display: table;
				height: 100%;
				padding: 5px;
				.title-item {
					display: table-cell;
					vertical-align: middle;
					position: relative;
					a {
						font-size: 15px;
					}
				}
			}
		}
	}
	.continue-shopping {
		margin: 10px;
	}

	span.update-quantity {
		padding: 6px;
		font-size: 9px;
	}
}
#shippingSameBilling {
	margin: 0px;
}
.price-container {
	width: 100%;
	.total {
		float: right;
		.price-label {
			color:@site-color;
			@font-size-label-price : 26px;
			font-size: @font-size-label-price ;
			&.minimize {
				font-size: @font-size-label-price - 8;
			}
		}
		.price {
			@font-size-price : 22px;
			font-size: @font-size-price;
			&.minimize {
				font-size: @font-size-price - 8;
			}
			margin-left: 5px;
		}
	}
	margin-bottom: 10px;
}

.checkout_forms_container {
	margin-bottom: 20px;
}
.checkout_forms_container_head
{
	h3 {
		color: white;
	}
	@radius: 13px;
	border-radius: @radius @radius 0 0;
	background: @site-color;
	padding: 5px 0px 5px 20px;
}

.checkout_forms_container_body
{
	background: #f0f0f0;
	padding: 15px 25px;
	border: 1px @border-color solid;
	&>form, table {
		background: white;
		padding: 10px;
		border: 1px @border-color solid;
		textarea {
			resize: none;
		}
	}
}

.continue-shopping {
	margin: 10px;
}
.cart-calculator .selectBox-dropdown .selectBox-arrow {
	right: 0px !important;
	height: 35px !important;
}

#checkout_page_container #shippingSameBilling {
	margin-bottom: 2px;
}
@media (max-width: @screen-xs-max) { 
	.cart-calculator input[type='text'] {
		width: 180px;
	}
	.cart-calculator .selectBox-dropdown {
		width: 180px !important;
	}
	textarea {
		width: 180px;
	} 
	.shopping-cart {
		.pricedisplay {
			font-size: 9px;
		}
		.title li {
			font-size: 9px;
		}
		ul li {
			line-height: 18px;
			font-size: 9px;
			input[type="number"] {
    			width: 57px;
    		}
		}
	}
	.post-content h3 {
    	font-size: 17.5px;
	}
	.update-product.visible-xs, .delete-product.visible-xs {
		position: relative;
		display: inline-block !important;
		padding: 4px 4px;
		margin-right: 3px;
		&:last-child {
			margin-right: 0px;
		}
	}
	.checkout_forms_container_body {
		padding: 3px 3px;
	}
	.header-top form input[type='text'] {
		font-size: 8px;
	}
}
@media (max-width: @screen-sm-max) { 	
	.shopping-cart .pricedisplay {
		font-size: 10px;
	}
	.shopping-cart ul li {
	    line-height: 15px;
	    font-size: 10px;
	}
	.update-product, .delete-product {
		padding: 4px 8px;
		font-size: 11px;
	}
}
@media (min-width: @screen-md-min) { 	
	.shopping-cart .pricedisplay {
		font-size: 12px;
	}
}
.information {
	p {
		color: #31708f;
	}
	a {
		color: #31708f;
		font-weight: bold;
	}
}
