@site-color: #2461a7;
@border-color: rgb(199, 219, 251);

.wpsc-transaction-results-wrap {
	p {
		font-size: 14px;
		margin-bottom: 15px;
	}
	span {
		display: block;
		margin-top: 8px;
	}
	b {
		font-weight: bold;
	}
}
.wpsc-purchase-log-transaction-results {
	th {
		color: @site-color;
		font-size: 16px;
	}
	td {
		font-size: 15px;
	}
	&+ p { 
		font-size: 17px;
		font-weight: bold;
	}
}